<form action="/handleForm" method="GET">
    <select size="3" name="show">
        {{#each fields}}
        <option value="{{name}}">{{name}}</option>
        {{/each}}
    </select>
    <button type="submit">Submit</button>
</form>