<h1>Filtr</h1>
<button>Lista/tabela</button>
<div class="dataBox">
    {{#each filtered}}
    <div class="box">
        <p>{{car_name_f}}</p>
        <p>{{car_type_f}}</p>
        <div style="background: {{Color hex}}; height: 20px;"></div>
    </div>
    {{/each}}
</div>